body {
  background-color: #f5feff;
}

h1,
h7 {
  color: #4d12ee;
}
.top h4 {
  color: #005792;
}
h5 {
  color: #ff5200;
}
h6,
.tomorrow h4 {
  color: #00bbf0;
}
p {
  color: #005792;
  margin-top: 20px;
}
.center {
  margin: 150px auto 100px 0;
}
.top {
  flex-wrap: nowrap;
}
.footer {
  display: flex;

  margin-top: 200px;
}
.weather .active {
  color: #4d12ee;
  cursor: default;
  text-decoration: none;
}
.weather .active:hover {
  text-decoration: none;
}
.description:first-letter {
  text-transform: uppercase;
}
